<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">

</head>

<body>

  <div class="title">
    <!-- <h1> <%= title %></h1> -->
    <p>Welcome to the Romantic Library</p>
  </div>
  <a href="/books"><img  class="bg"
    src="https://images.fineartamerica.com/images-medium-large-5/paris-dreamy-shabby-chic-romantic-pink-cottage-books-love-dreams-paris-collection-pastel-books-kathy-fornal.jpg" href="/books"></a>
</body>

</html>